:root {
  --color-graybase-100: #bbb9c7;
  --color-graybase-600: #282633;
  --color-graybase-700: #1c1a24;
  --color-graybase-500: #312f3d !important;

  --color-purple-300: #b7a7ff;

  --color-white-100-opacity-30: rgb(255 255 255/30%);

  --color-consumer-100: #ffff00;

  --size-corner-radius-medium: 10px;
  --size-corner-radius-regular: 4px;
  
  --frontly-body-md-line-height: 24px;
  --frontly-body-md-letter-spacing: 0.075px;
  --color-shape-purple-400-opacity-10: rgb(255 255 0/10%);

  --typography-body-18-regular-font-size: 18px;
  --typography-body-18-regular-font-weight: 400;
  --typography-body-18-regular-line-height: 26px;
  --typography-body-18-regular-letter-spacing: 0;

  --frontly-subhead-lg-font-size: 18px;
  --frontly-subhead-lg-font-weight: 550;
  --frontly-subhead-lg-line-height: 26px;
  --frontly-subhead-lg-letter-spacing: 0px
  
  --frontly-body-sm-letter-spacing: 0.26px;
  --frontly-body-sm-font-weight: 400;
  --frontly-body-sm-line-height: 20px;
  --frontly-body-sm-font-size: 13px;
  --frontly-body-md-font-size: 15px;
  --frontly-body-md-font-weight: 400;

  --frontly-headline-x-sm-font-size: 22px;
  --frontly-headline-x-sm-font-weight: 600;
  --frontly-headline-x-sm-line-height: 32px;
  --frontly-headline-x-sm-letter-spacing: 0px;
  --default-animation-props: var(--default-animation-duration)
    var(--default-animation-function);
}

body {
  overscroll-behavior: none;
  color: var(--color-white-100);
  word-wrap: break-word;
  background: var(--color-graybase-700);
  position: relative;
}



.tampilan-skin {
  display: grid;
  grid-template-columns: 958px 370px;
  grid-template-rows: 529px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-areas: "foto-skin detail-skin";
  width: 1424px;
  height: 593px;
  box-sizing: border-box;
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.foto-skin {
  grid-area: foto-skin;
  display: grid;
  grid-template-columns: 958px;
  grid-template-rows: 32px 384px 70px;
  gap: 0px 0px;
  grid-template-areas:
    "title-skins"
    "foto-skin-style"
    "link-skin";
  width: 958px;
  height: 529px;
}


.foto-skin-style {
  grid-area: foto-skin-style;
  background-image: url("../img/backgroundskin.png");
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

.link-skin {
  grid-area: link-skin;
  display: inline-flex;
  padding-top:  30px;
}

.detail-skin {
  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 32px 181px 65px 65px 36px 56px;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: space-evenly;
  grid-template-areas:
    "jenis-rarity"
    "deskripsi-senjata"
    "drop-case"
    "rare-float"
    "harga-skin"
    "simpan-trade";
  width: 370px;
  height: 529px;
}

.jenis-rarity {
  grid-area: jenis-rarity;
  background-color: var(--color-graybase-500);
  border-radius: var(--size-corner-radius-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 550;
  line-height: 20px;
  letter-spacing: -0.015em;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-right: 225px;
  padding: 0;
  font-family: Inter, system-ui;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.rarity-skin-consumer {
  --content-color: var(--color-consumer-100);
  --background-color: var(--color-shape-purple-400-opacity-10);
  color: var(--content-color);
  fill: var(--content-color);
  font-size: var(--typography-body-18-regular-font-size);
  font-weight: var(--typography-body-18-regular-font-weight);
  line-height: var(--typography-body-18-regular-line-height);
  letter-spacing: var(--typography-body-18-regular-letter-spacing);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 2px;
  gap: 4px;
  height: 32px;
  padding: 1px 6px;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 387px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--background-color);
  border-radius: var(--size-corner-radius-regular);
  transition: color var(--default-animation-props),
    background-color var(--default-animation-props),
    fill var(--default-animation-props);
}

.text-skin1{
  font-size: var(--frontly-headline-x-sm-font-size);
  font-weight: var(--frontly-headline-x-sm-font-weight);
  line-height: var(--frontly-headline-x-sm-line-height);
  letter-spacing: var(--frontly-headline-x-sm-letter-spacing);
}

.skin-startrak {
  font-size: 32px;
  font-weight: 700;
  color: #ffff00;
  letter-spacing: .005em;
  white-space: nowrap;
  font-family: Inter;
}

.skin-startrak2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  letter-spacing: .005em;
  white-space: nowrap;
  font-family: Inter;
}


.title-module {
  font-size: 32px;
  font-weight: 700;
  white-space: nowrap;
  font-family: Inter, system-ui;
  position: relative;
  background: linear-gradient(90deg, #ff0000, #ff7300, #ff0000); /* Warna latar belakang gradient untuk efek neon */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Membuat teks menjadi transparan */
  animation: neonGlow 1s linear infinite; /* Animasi warna neon */
}

.title-module-1 {
  font-size: 32px;
  font-weight: 700;
  white-space: nowrap;
  font-family: Inter, system-ui;
  position: relative;

  background: linear-gradient(90deg, #d32ce6, #8a2be2, #d32ce6); /* Warna latar belakang gradient untuk efek neon */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Membuat teks menjadi transparan */
  animation: neonGlow1 1s linear infinite; /* Animasi warna neon */
}

.title-module-1 {
  font-size: var(--frontly-subhead-lg-font-size);
  font-weight: var(--frontly-subhead-lg-font-weight);
  line-height: var(--frontly-subhead-lg-line-height);
  letter-spacing: var(--frontly-subhead-lg-letter-spacing);
}

.title-module-2 {
  font-size: 32px;
  font-weight: 700;
  white-space: nowrap;
  font-family: Inter, system-ui;
  position: relative;

  background: linear-gradient(90deg, #8847FF, #8847FF, #8847FF); /* Warna latar belakang gradient untuk efek neon */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* Membuat teks menjadi transparan */
  animation: neonGlow1 1s linear infinite; /* Animasi warna neon */
}

.title-module-2 {
  font-size: var(--frontly-subhead-lg-font-size);
  font-weight: var(--frontly-subhead-lg-font-weight);
  line-height: var(--frontly-subhead-lg-line-height);
  letter-spacing: var(--frontly-subhead-lg-letter-spacing);
}


@keyframes neonGlow {
  0%, 100% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000; /* Efek bayangan */
  }
  50% {
    text-shadow: none; /* Hapus efek bayangan pada tengah animasi */
  }
}

@keyframes neonGlow1 {
  0%, 100% {
    text-shadow: 0 0 10px #d32ce6, 0 0 20px #8a2be2, 0 0 30px #d32ce6; /* Efek bayangan */
  }
  50% {
    text-shadow: none; /* Hapus efek bayangan pada tengah animasi */
  }
}

@keyframes neonGlow1 {
  0%, 100% {
    text-shadow: 0 0 10px #8847FF, 0 0 20px #8847FF, 0 0 30px #8847FF; /* Efek bayangan */
  }
  50% {
    text-shadow: none; /* Hapus efek bayangan pada tengah animasi */
  }
}

.title-skins span {
  color: #fff;
  letter-spacing: 0.005em;
  display: inline-block;
  animation: colorChange 3s infinite; /* Animasi warna selama 3 detik, diulang secara tak terbatas */
}

@keyframes colorChange {
  0% {
    color: #ffd700; /* Warna awal: putih */
  }
  50% {
    color: #fff; /* Warna setengah waktu: kuning */
  }
  100% {
    color: #ffd700; /* Warna akhir: putih */
  }
}
.deskripsi-senjata {
  grid-area: deskripsi-senjata;
  background-color: var(--color-graybase-500);
  border-radius: var(--size-corner-radius-regular);
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 48px 40px 40px 35px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-areas:
    "sub-rarity-warna"
    "side-both"
    "kill-awards"
    "running-speed";
  width: 370px;
  height: 181px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text-module {
  font-size: var(--frontly-body-md-font-size);
  font-weight: var(--frontly-body-md-font-weight);
  line-height: var(--frontly-body-md-line-height);
  letter-spacing: var(--frontly-body-md-letter-spacing);
  text-align: end;
}
.sub-rarity-warna {
  grid-area: sub-rarity-warna;
  text-align: center;

}

.title-module {
  font-size: var(--frontly-subhead-lg-font-size);
  font-weight: var(--frontly-subhead-lg-font-weight);
  line-height: var(--frontly-subhead-lg-line-height);
  letter-spacing: var(--frontly-subhead-lg-letter-spacing);
}
.side-both {
  grid-area: side-both;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  color: var(--color-graybase-100);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.kill-awards {
  grid-area: kill-awards;
  grid-area: side-both;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  color: var(--color-graybase-100);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.running-speed {
  grid-area: running-speed;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  color: var(--color-graybase-100);
}

.drop-case {
  grid-area: drop-case;
  background-color: var(--color-graybase-500);
  border-radius: var(--size-corner-radius-regular);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 370px;
  max-height: 65px;
  padding: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.rare-float {
  grid-area: rare-float;
  background-color: var(--color-graybase-500);
  border-radius: var(--size-corner-radius-regular);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.float1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-graybase-100);
  font-size: var(--frontly-body-md-font-size);
  font-weight: var(--frontly-body-md-font-weight);
  line-height: var(--frontly-body-md-line-height);
  letter-spacing: var(--frontly-body-md-letter-spacing);
  margin-top: -5px;

}

.float2 {
 color: var(--color-consumer-100);

}
.harga-skin {
  grid-area: harga-skin;
  display: flex;
  align-items: center;
  font-size: 35px;
}

.skin1 {
  gap: 12px;
  display: flex;
  align-items: center;
}

.addtotrade {
  grid-area: simpan-trade;
  color: black;
  background: linear-gradient(45deg,#ffd700, #ffffff, #ffd700, #ffffff);
  font-size: 24px;
  font-weight: 550;
  line-height: 16px;
  letter-spacing: -.01em;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding: 11px 14px;
  font-family: Inter, system-ui;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.addtotrade:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Efek glowing edge white saat hover */
}

.addtotrade span {
  position: relative;
  z-index: 2;
}

.addtotrade:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 80%); /* Efek glowing button */
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.addtotrade:hover:after {
  transform: scale(1);
}

.image-preview {
  filter: drop-shadow(4px 12px 16px rgba(0,0,0,.25));
  max-width: 75%;
  height: 50%;
  object-fit: contain;
  justify-content: space-evenly;
  padding-left: 130px;
}

#fotoSkin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-text {
  display: -webkit-box;
    overflow: hidden;
    color: var(--color-graybase-100);
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: var(--frontly-body-sm-font-size);
    font-weight: var(--frontly-body-sm-font-weight);
    line-height: var(--frontly-body-sm-line-height);
    letter-spacing: var(--frontly-body-sm-letter-spacing);
}

.case-collection {
  justify-content: space-between;
  display: flex;
  flex: 1;
  align-items: center;
}

.case-title {
  display: flex;
  align-items: center;
  min-width: 50%;
  color: var(--color-graybase-100);
}

.case-text {
  display: -webkit-box;
    overflow: hidden;
    color: var(--color-graybase-100);
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: var(--frontly-body-sm-font-size);
    font-weight: var(--frontly-body-sm-font-weight);
    line-height: var(--frontly-body-sm-line-height);
    letter-spacing: var(--frontly-body-sm-letter-spacing);
}

.import-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.notif-wrapper {
  width: 14px;
    height: 14px;
    fill: var(--color-white-100-opacity-30);
    cursor: pointer;

}

.rare-float {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-top: 10px;
  background-color: var(--color-graybase-500);
  border-radius: var(--size-corner-radius-regular);
}

.rekomendasi-terbaik {
  grid-area: rekomendasi-terbaik;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  color: white;
}

.rekomendasi-terbaik {
  grid-area: rekomendasi-terbaik;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  color: white;
}

.rekomendasi {
  font-size: 20px;
  line-height: 22px;
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 24px;
}

.rekomendasi span {
  display: inline-block;
  opacity: 0;
  animation: slideLeft 1.5s forwards;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

 .bagian-rekomendasi-item {  display: grid;
  grid-template-columns: 214px 214px 214px 214px 214px 214px;
  grid-template-rows: 30px 212px 216px;
  gap: 1em 1em;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: center;
  grid-template-areas:
    "rekomendasi-terbaik rekomendasi-terbaik rekomendasi-terbaik rekomendasi-terbaik rekomendasi-terbaik rekomendasi-terbaik"
    "good-item-1 good-item-2 good-item-3 good-item-4 good-item-5 good-item-6"
    "good-item-7 good-item-8 good-item-9 good-item-10 good-item-11 good-item-12";
  width: 1424px;
  height: 593px;
  margin: auto;
}


.good-item-1 { 
  grid-area: good-item-1; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-1:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-card-img{
  position: absolute;
  width: 73.3945%;
  height: 73.3945%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: 50%/contain no-repeat;
  margin-top: -35px;
  transform: translate(-50%,-50%) scale(1); /* Menambahkan scale 1 agar tidak terpengaruh oleh transform di parent */
  
}

.good-card-bottom {
  width: 100%;
  position: absolute;
  padding: 8px;
  left: 0;
  bottom: 0;
}

.good-info-sell {
  margin-bottom: -2px;
}

.font12 {
  color: #c2c2c2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  text-align: right;
  padding-right: 20px;
  font-size: 16px;
  line-height: 17px;
}

.good-item-2 { 
  grid-area: good-item-2; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-2:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.user-price {
  flex: 0 0 auto;
  white-space: nowrap;
  font-size: 16px;
  line-height: 19px;
  color: #ebebf5;
  text-align: right; /* Menggunakan text-align untuk mengatur ke kanan */
  padding-right: 25px;
}

.good-item-3 { 
  grid-area: good-item-3; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-3:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-4 { 
  grid-area: good-item-4; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-4:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-5 { 
  grid-area: good-item-5; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-5:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-6 { 
  grid-area: good-item-6; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-6:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-7 { 
  grid-area: good-item-7; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-7:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-8 { 
  grid-area: good-item-8; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-8:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-9 { 
  grid-area: good-item-9; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-9:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}

.good-item-10 { 
  grid-area: good-item-10; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-10:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}


.good-item-11 { 
  grid-area: good-item-11; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-11:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}


.good-item-12 { 
  grid-area: good-item-12; 
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  letter-spacing: .3px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s, background-color 0.3s;
}

.good-item-12:hover {
  transform: scale(1.05); /* Memperbesar elemen saat dihover */
  background-color: var(--color-graybase-800); /* Perubahan warna saat dihover */
}


.good-card-rarity {
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  display: inline-block;
}

.footer-set{
  position: relative;
  z-index: 1;
  margin-top: 10%px;
  height: 50%;
  background-color : #1b1b1b ;

}


.footer-txt-set{
  position: absolute;
}

#footer ul{
list-style-type: none;
color: white;
}



#footer a{
text-decoration: none;
color: white;
}

#footer .border-footer{
background-color: #fff;
box-shadow: 5px 5px 10px #fff;
border: none;
}

#footer .footer-info:hover{
background-color: #b9b9b9;
font-size: 20px;
border-radius: 20px;
}

#footer .border-footer:hover{
width: 20px;
background-color: #b9b9b9;
}

#footer .bi-instagram{
color: #E4405F;
font-size: 1em;
border-radius: 10px;
}

#footer .bi-facebook{
color: #1877F2;
font-size: 1em;
border-radius: 10px;
}

#footer .bi-twitter{
color: #1DA1F2;
font-size:1em;
border-radius: 10px;
}