:root {
  --color-graybase-100: #bbb9c7;
  --color-graybase-600: #282633;
  --color-graybase-700: #1c1a24;
}

body {
  overscroll-behavior: none;
  color: var(--color-white-100);
  word-wrap: break-word;
  background: var(--color-graybase-700);
  position: relative;
}

.tampilan-skin {
  display: grid;
  grid-template-columns: 958px 370px;
  grid-template-rows: 529px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-areas: "foto-skin detail-skin";
  width: 1424px;
  height: 593px;
  box-sizing: border-box;
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  margin: auto;
}

.foto-skin {
  grid-area: foto-skin;
  display: grid;
  grid-template-columns: 958px;
  grid-template-rows: 32px 384px 70px;
  gap: 0px 0px;
  grid-template-areas:
    "title-skin"
    "foto-skin-style"
    "link-skin";
  width: 958px;
  height: 529px;
}

.title-skin {
  grid-area: title-skin;
}

.foto-skin-style {
  grid-area: foto-skin-style;
  background: url("");
  z-index: 1;
}

.link-skin {
  grid-area: link-skin;
}

.detail-skin {
  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 32px 181px 65px 65px 36px 56px;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: space-evenly;
  grid-template-areas:
    "jenis-rarity"
    "deskripsi-senjata"
    "drop-case"
    "rare-float"
    "harga-skin"
    "simpan-trade";
  width: 370px;
  height: 529px;
}

.jenis-rarity {
  grid-area: jenis-rarity;
}

.deskripsi-senjata {
  grid-area: deskripsi-senjata;
}

.drop-case {
  grid-area: drop-case;
}

.rare-float {
  grid-area: rare-float;
}

.harga-skin {
  grid-area: harga-skin;
}

.simpan-trade {
  grid-area: simpan-trade;
}

.tabel-statistik {
  display: grid;
  grid-template-columns: 1360px;
  grid-template-rows: 32px 220px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  grid-template-areas:
    "perubahan-harga"
    "statistik-harga";
  width: 1424px;
  height: 340px;
  box-sizing: border-box;
  background-color: var(--color-graybase-600);
  border-radius: 6px;
  margin: auto;
}

.perubahan-harga {
  grid-area: perubahan-harga;
}

.statistik-harga {
  grid-area: statistik-harga;
}
