
.image {
  width: 150px;
  height: 50px;
}

.tab-content > div {
  display: none;
}

.tab-content > div:target {
  display: block;
}

.dropdown {
  min-width: 15em;
  position: relative;
  padding-bottom: 20px;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 50px;
}

.select-clicked {
  border: 2px #26489a;
  box-shadow: 0 0 0.8em #26489a;
  width: 200px;
}

.select:hover {
  background: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow; 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  postion: absolute;
  top: 3em;
  transform: translateX(-50%);
  display: none;
  transition: 0.2s;
  z-index: 1;
  width: 200px;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover {
  background: #2a2d35;
}

.active {
  background: #23242a;
  color: #bbb9c7 !important;
}

.menu-open {
  display: block;
  opcaity: 1;
  margin-left: 150px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.row .bagian-atas {
  padding-bottom: 25px;
}

.col-5 {
  padding-bottom: 25px;
}

.cardContainer{
  padding-top: 150px;
}

.card-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 15px;
}

.cards {
  min-width: 275px;
  width: 275px;

  margin: 15px;
  border-radius: 7px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.85);
  position: relative;
  transition: 0.2s all linear;
}

.card-socials {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  li {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    &:hover {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      transition: all 0.1s linear;
    }
  }
}

.card-images {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-infos {
  padding: 10px;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .card-titles {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .card-details {
    line-height: 1.5em;
    font-size: 14px;
    height: 200px;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
    transition: 0.35s all linear;
    transition-delay: 0.1s;
  }
}

.cards:hover {
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.7);

  .card-infos {
    .card-title {
      box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
      transition: 0.3s all linear;
    }

    .card-details {
      opacity: 1;
      box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
      transition: 0.35s all linear;
      transition-delay: 0.1s;
      transform: scaleY(1);
    }
  }
}


.consumer {
  color: #bbb9c7;
}

.industrial{
  color: #5e98d9;
}

.mil-spex{
  color: #5169f7;
}

.restricted{
  color: #a574ff;
}

.classified{
  color: #e050f0;
}

.covert{
  color: #f26767;
}

.footer-set{
  position: absolute;
  z-index: 1;
  margin-top: 70px;
  background-color : #1b1b1b ;
  width: 90%;
}


.footer-txt-set{
  position: absolute;
}

#footer ul{
list-style-type: none;
color: white;
}

body {
  background: linear-gradient(-45deg, black, #1E1F26, #252830, #5A5F73);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#openPopUp{
  text-align:center;
  background: linear-gradient(45deg,#ffd700, #ffffff, #ffd700, #ffffff);
  margin-left: 29px;
  padding: 5px 75px; /* Adjust padding for height and width */
  color: black;
  font-weight: 500;
  font-size: 1.5em;
  border-radius: 3.5px;
  text-decoration: none;
  transition:background-color 0.15s linear;
  -webkit-transition:background-color 0.15s linear;
  -moz-transition:background-color 0.25s linear;
  -o-transition:background-color 0.25s linear;
}
a#openPopUp:hover{
  cursor: pointer;
  background-color: #1abc9e;
}
.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.popup .popUpContainer{
  width: 100%;
  max-width: 1000px;
  position: fixed; /* To avoid scroll to target */
  left: 37%;
  top: 20%;
  height: 500px;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;

  /* Trick to properly center the element by using negative 
  1/2 length of element as margin left and top */
  margin-left: -250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999; 
}
.popup h2{
  padding: 0.5em;
  text-align: center;
  color: #444444;
  margin: 0;
}
.popup img{
  width: 100%;
  display: block;
}
.popup article{
  height: 500px;
  background-color: #e67e22;
}
/* The cancel button on popup dialog */
.popup a.closePopUp{
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
/* The cancel button on popup dialog */
.popup a:hover{
  color: #c0392b;
}
/* When popup is targeted, by clicking on link with #popup in HTML */
.popup:target{
  opacity: 1;
  top: 0;
}
.popup .closePopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991; 
}
.popup:target .popUpContainer{
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}

@media  (max-width: 796px) {
  .popup .popUpContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul{
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer{
    top: 25px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }
}

.tampilan-isi-popup {
  display: grid; 
  grid-template-columns: 470px 470px; 
  grid-template-rows: 300px 180px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "slot-kiri slot-kanan"
    "Trade no-trade"; 
  justify-content: center; 
  align-content: center; 
  width: 1000px; 
  height: 500px; 
}
.slot-kiri { grid-area: slot-kiri; }
.slot-kanan { grid-area: slot-kanan; }
.Trade { grid-area: Trade; }
.no-trade { grid-area: no-trade; }

.col-2 {
  max-height: 1000px; /* You can adjust this value according to your requirements */
}